<div th:switch="${Employees}">
    <h2 th:case="null">No Employees yet!</h2>
        <div th:case="*">
            <h2>Employees</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="Employee : ${Employees}">
                    <td th:text="${Employee.name}"></td>
                    <td th:text="${Employee.email}"></td>
                    <td><a th:href="@{/edit/{id}(id=${Employee.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${Employee.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/signup">Add a new Employee</a></p>
</div>
